<div class="pure-g">
  <% @tracks.each do |track| %>
  <div class="pure-u-1 pure-u-md-1-3 tracks">
    <canvas class="track-canvas">
      An alternative text describing what your canvas displays. 
    </canvas>
    <% if track.image_identifier %>
      <img class="media-object" src="/uploads/images/<%= track.image_identifier %>" width=50 height=50>
    <% else %>
      <img class="media-object" src="/uploads/H06-anika.jpg" width=50 height=50>
    <% end %>  
    
    
    <audio preload="none" src="/uploads/audio/<%= track.file_identifier %>"></audio>
    <div class ="message-track"></div>
    <a class="play-bt-track" href="#">play</a>
    <a class="pause-bt-track" href="#">pause</a>
    <a class="stop-bt-track" href="#">stop music</a>
    <%= track.title %> / <%= track.artist %><a href="/tracks/<%= track.id %>">Full</a>
    <form method="POST" action="/tracks/<%= track.id %>">
      <input type="hidden" name="_method" value="PUT">
      <select name="playlist_id">
        <% current_user.playlists.each do |playlist| %>
        <option value="<%= playlist.id %>"><%= playlist.title %></option>
        <% end %>
      </select>
      <input type="submit" value="add">
    </form>
    
    <a href="/uploads/audio/<%= track.file %>" download>download</a>
  </div>
  <% end %>
</div>