<div class="pure-g">
  <% @tracks.each do |track| %>
    <div class="pure-u-1 pure-u-md-1-3 tracks">
      <% if track.image_identifier %>
      <img class="media-object" src="/uploads/images/<%= track.image_identifier %>" width=50 height=50>
      <% else %>
      <img class="media-object" src="/uploads/H06-anika.jpg" width=50 height=50>
      <% end %>  
      
      <canvas id="canvas" width="300" height="100">
        An alternative text describing what your canvas displays. 
      </canvas>
      <audio src="/uploads/audio/<%= track.file_identifier %>" id="audio" controls></audio>
      <p><%= track.title %> / <%= track.artist %> </p>
      <a href="/tracks/<%= track.id %>">Full</a>

      <form method="POST" action="/tracks/<%= track.id %>">
        <input type="hidden" name="_method" value="PUT">
        <select name="playlist_id">
          <% current_user.playlists.each do |playlist| %>
          <option value="<%= playlist.id %>"><%= playlist.title %></option>
          <% end %>
        </select>
        <input type="submit" value="add">
      </form>
      
      <a href="/Uploads/audio/<%= track.file_identifier %>" download>download</a>
    </div>
  <% end %>
</div>