<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= css :application%>
  <%= js :application%>
</head>
  <body>
    <header>
    <nav>
      <div class="pure-menu pure-menu-horizontal custom-restricted">
          <a href="/users" class="pure-menu-heading pure-menu-link">BRAND</a>
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/users" class="pure-menu-link">Users</a></li>
              <% if is_logged_in? %>
              <li class="pure-menu-item"><a href="/users/<%= current_user.id %>" class="pure-menu-link">Profile</a></li>
              <li class="pure-menu-item"><a href="/users/<%= current_user.id %>/edit" class="pure-menu-link">edit profile</a></li>
              <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">logout</a></li>
              <% else %>
              <li class="pure-menu-item"><a href="/register" class="pure-menu-link">register</a></li>
              <li class="pure-menu-item"><a href="/login" class="pure-menu-link">login</a></li>
              <% end %>
          </ul>
      </div>
      </nav>
    </header>
    <main class="container">
      <%= styled_flash %>
      <%= yield %>
    <main>
  </body>
</html>