<div class="pure-g">

<% if @current_user == @user %>

  <div class="pure-u-1 profile user-own-page">
    <% if @user.image_identifier %>
      <img class="profile-pic" src="/uploads/images/<%= @user.image_identifier %>" alt="<%= @user.username %>'s image" width=150 height=150 align="left">
    <% else %>
      <img class="profile-pic" src="/images/default.png" alt="<%= @user.username %>'s image">
    <% end %>
    <p>name: <%= @user.name %></p> 
    <p>username: <%= @user.username %></p> 
    <p>location: <%= @user.city %></p>
    <p>tracks: <%= @tracks.length %></p>
    <p>playlists: <%= @playlists.length %></p>
   <a href='/users/<%= @user.id %>/edit' class="button-small pure-button">edit</a> 
  <form method="post" action="/users/<%= @user.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" class="pure-button button-small" value="Delete" class="btn btn-default">
  </form>
  </div>
<% else %>
  <div class="pure-u-1 profile user-page">
  <hr/>
  <% if @user.image_identifier %>
    <img class="profile-pic" src="/uploads/images/<%= @user.image_identifier %>" alt="<%= @user.username %>'s image" width=150 height=150 align="left">
  <% else %>
    <img class="profile-pic" src="/images/default.png" alt="<%= @user.username %>'s image">
  <% end %>
  <p>name: <%= @user.name %></p> 
  <p>username: <%= @user.username %></p> 
  <p>location: <%= @user.city %></p>
  <p>tracks: <%= @tracks.length %></p>
  <p>tracks: <%= @playlists.length %></p>
  </div>
  <div class="pure-u-1 user-page">
<img src="/images/tracks.png">
  </div>

  </div>
  <div class="pure-g">
    <% @tracks.each do |track| %>
    <div class="pure-u-1 pure-u-md-1-3 tracks">
    <div class="track-pic">
      <% if track.image.url %>
        <img class="track-pic" src="<%= track.image.url %>" width=50 height=50>
      <% else %>
        <img class="track-pic" src="/uploads/H06-anika.jpg" width=50 height=50>
      <% end %>
      </div>
      <canvas class="track-canvas">
        An alternative text describing what your canvas displays. 
      </canvas>

      <div class="options">
        <i class="play-bt-track fa fa-play-circle-o"></i>
        <i class="pause-bt-track fa fa-pause-circle-o"></i>
        <a  href="<%= track.file.url %>" download><i class="download-bt-track fa fa-arrow-circle-down"></i></a>
      </div>
      <br>
      <marquee class ="inline control message-track"></marquee>
        <audio class="inline" preload="none" src="<%= track.file.url %>"></audio>
        <a class="inline" href="/tracks/<%= track.id %>"><%= track.title %> / <%= track.artist %></a>

        <form method="POST" action="/tracks/<%= track.id %>/add">
            <input type="submit" value="add track" class="pure-button button-small">
                      
        </form>

        <form method="POST" class="inline" action="/tracks/<%= track.id %>">
          <input type="hidden" name="_method" value="PUT">
          <select name="playlist_id">
            <% current_user.playlists.each do |playlist| %>
            <option value="<%= playlist.id %>"><%= playlist.title %></option>
            <% end %>
          </select>
          <input class="button-xsmall pure-button" type="submit" value="add playlist">
        </form>     
        
       </div>
    <% end %>


      <div class="pure-u-1 user-page">
    <img src="/images/playlists.png">
      </div>
    <% @playlists.each do |playlist| %>
      <div class="pure-u-1 pure-u-md-1-3 users">
            
            <% if playlist.image_identifier %>
              <img class="media-object" src="/uploads/images/<%= playlist.image_identifier %>" >
            <% else %>
              <img class="media-object" src="/uploads/H06-anika.jpg" width=50 height=50>
            <% end %>  
            <a href="/playlists/<%= playlist.id %>"><%= playlist.title %></a>
          
          </div>    
        <% end %>
       
          
    
  </div>
</div>    
<% end %>
