
    
  <div class="pure-g">
  <div class="pure-u-1">
      <img src="/images/tracks.png">
      <hr/>
        </div>
        <div class="pure-g">
        <div class="pure-g">
      <% @tracks.each do |track| %>
      <div class="pure-u-1 pure-u-md-1-3 tracks">
      <div class="track-pic">
        <% if track.image.url %>
          <img class="track-pic" src="<%= track.image.url %>" width=50 height=50>
        <% else %>
          <img class="track-pic" src="/uploads/H06-anika.jpg" width=50 height=50>
        <% end %>
        </div>
        <canvas class="track-canvas">
          An alternative text describing what your canvas displays. 
        </canvas>

        <div class="options">
          <i class="play-bt-track fa fa-play-circle-o"></i>
          <i class="pause-bt-track fa fa-pause-circle-o"></i>
          <a  href="<%= track.file.url %>" download><i class="download-bt-track fa fa-arrow-circle-down"></i></a>
        </div>
        <br>
        <marquee class ="inline control message-track"></marquee>
          <audio class="inline" preload="none" src="<%= track.file.url %>"></audio>
          <a class="inline" href="/tracks/<%= track.id %>"><%= track.title %> / <%= track.artist %></a>
          <% if !track.users.include?(@current_user) %>
          <form method="POST" action="/tracks/<%= track.id %>/add">
              <input type="submit" value="add track" class="pure-button button-small">
                        
          </form>
          <% end %>
          <form method="POST" class="inline" action="/tracks/<%= track.id %>">
            <input type="hidden" name="_method" value="PUT">
            <select name="playlist_id">
              <% current_user.playlists.each do |playlist| %>
              <option value="<%= playlist.id %>"><%= playlist.title %></option>
              <% end %>
            </select>
            <input class="button-xsmall pure-button" type="submit" value="add playlist">
          </form>     
          
         </div>
      <% end %>
     <% (1..@number_of_pages).each do |num| %>
     <a href="/tracksall?p=<% num %>#"><% num %></a>
     <% end %>




</div>  